#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #555; /* Slightly lighter text for the subtitle */
}

#map {
  height: 80vh;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1.5rem 0;
}
.leaflet-container {
  touch-action: none;
}
